* {
  margin: 0;
  padding: 0;
}
body {
  user-select: none;
  background: linear-gradient(to left, #c6ffdd, #fbd786, #f7797d);
}
body li {
  list-style: none;
}
body h1 {
  position: absolute;
  /* width: 150PX; */
  height: 50px;
  background-color: red;
  top: -35px;
  left: 10px;
}
body .title {
  font-size: 30px;
  font-weight: 600px;
  text-align: center;
  margin: 100px auto;
  margin-bottom: 0;
  letter-spacing:10px
}
body .box {
  width: 800px;
  margin: 50px auto;
  font-size: 20px;
  position: relative;
}
body .box .b1 {
  float: left;
  background-color: #fff;
  width: 200px;
}
body .box .b1 ul li {
  padding: 20px;
  text-align: center;
  cursor: pointer;
  font-weight: 200;
}
body .box .b1 ul li:first-child {
  margin-top: 20px;
}
body .box .b1 ul li:hover {
  background-color: #F4E2C9;
  opacity: 0.8;
}

body .box .b2 {
  float: right;
  background-color: #fff;
  margin-top: 100px;
  position: relative;
}
body .box .b2 ul {
  padding: 20px 0;
  margin-left: 10px;
  overflow: hidden;
  max-width: 430px;
  min-width: 150px;
}
body .box .b2 ul li {
  color: #fff;
  margin: 10px 20px 10px 0;
  float: left;
  padding: 5px 10px;
  min-width: 10px;
  background-color: #5F9EDF;
  text-align: center;
}